$color-bandsite-black: #323232;
$color-bandsite-drarkblack: #000000;
$color-white: #ffffff;
$color-mercury: #e1e1e1;
$color-silver: #323232;
$color-alabaster: #fafafa;

$spacing-3xl: 80px;
$spacing-2xl: 64px;
$spacing-xl: 56px;
$spacing-ml: 48px;
$spacing-l: 40px;
$spacing-m: 32px;
$spacing-s: 24px;
$spacing-xs: 16px;
$spacing-2xs: 8px;
$spacing-3xs: 4px;

$desktop-breakpoint: 1280px;
$tablet-breakpoint: 768px;
$mobile-breakpoint: 320px;

@mixin set-font-face($font-name, $font-weight, $otf-font-url, $ttf-font-url) {
  font-family: $font-name;
  font-weight: $font-weight;
  src: url($otf-font-url);
  src: url($ttf-font-url);
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) and (max-width: calc($desktop-breakpoint - 1px)) {
    @content;
  }
}

@mixin mobile {
  @media screen and (min-width: $mobile-breakpoint) and (max-width: calc($tablet-breakpoint - 1px)) {
    @content;
  }
}
