@use "./assetsLinks" as *;
@use "./mixins" as *;
@use "./variables" as *;

@font-face {
  font-family: "aveni";
  font-weight: 400;
  src: url($font-avenir-reg-otf);
  src: url($font-avenir-reg-ttf);
}

@font-face {
  font-family: "aveni";
  font-weight: 600;
  src: url($font-avenir-demi-otf);
  src: url($font-avenir-demi-ttf);
}
@font-face {
  font-family: "aveni";
  font-weight: 700;
  src: url($font-avenir-bold-otf);
  src: url($font-avenir-bold-ttf);
}
