@use "./mixins" as *;
@use "./animation" as *;
@use "./variables" as *;

.gallery {
  background-color: $color-alabaster;
  padding: $spacing-xs;

  &__heading {
    @include setMobileSectionHeaderFont;
  }
  &__content img {
    width: 100%;
    height: auto;
    margin-bottom: $spacing-xs;
    filter: grayscale(1);
    @include add-scale-and-recolor-animation;
    border-radius: $spacing-2xs;
  }

  @include tablet {
    padding: 0 $spacing-tablet-padding;
    &__heading {
      margin: 0;
      @include setSectionHeaderFont;
    }

    &__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      img {
        width: 31.5%;
        margin-bottom: $spacing-xs;
      }
    }
  }

  @include desktop {
    padding: 0 $spacing-desktop-padding $spacing-m $spacing-desktop-padding;
  }
}
