$font-avenir-reg-otf: "../assets/fonts/AvenirNextLTPro-Regular.otf";
$font-avenir-demi-otf: "../assets/fonts/AvenirNextLTPro-Demi.otf";
$font-avenir-bold-otf: "../assets/fonts/AvenirNextLTPro-Bold.otf";

$font-avenir-reg-ttf: "../assets/fonts/Alternative/AvenirNextLTPro.ttf";
$font-avenir-demi-ttf: "../assets/fonts/Alternative/AvenirNextLTProDemi.ttf";
$font-avenir-bold-ttf: "../assets/fonts/Alternative/AvenirNextLTProBold.ttf";
