@use "partial/abstracts" as *;

.footer {
  .footer-content {
    &__contacts {
      &--person {
        &--email a {
          color: $color-white;
          text-decoration: none;
        }
        // &--email a:hover {
        // }
      }
    }
  }

  @include mobile {
    position: relative;
    .footer-content {
      &__icons {
        width: 35vw;
        display: flex;
        justify-content: space-between;
      }

      &__contacts {
        &--person {
          padding-bottom: 0.3rem;
        }
      }

      &__copyright {
        padding-top: 5rem;
      }
    }
    .footer-logo {
      text-transform: uppercase;
      position: fixed;
      bottom: 4%;
    }
  }
}
