@use "partial/abstracts" as *;

footer {
  background-color: $color-bandsite-black;
  color: $color-white;
  padding: 1rem;
}

.footer-content {
  &__icons {
    width: 30vw;
    display: flex;
    justify-content: space-between;
  }
}

.footer-logo {
  text-transform: uppercase;
}
