@use "./partial/abstracts" as *;

.gallery {
  background-color: $color-alabaster;

  @include mobile {
    padding: $mobile-side-spacing;
    &__content img {
      width: 100%;
      padding-bottom: 1rem;
    }
  }

  @include tablet {
    padding: 0 calc($spacing-3xl/2);
    &__heading {
      margin: 0;
    }

    &__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      img {
        width: 31.5%;
        padding-bottom: $spacing-xs;
      }
    }
  }

  @include desktop {
    padding: 0 calc($spacing-2xl * 2) $spacing-m calc($spacing-2xl * 2);
  }
}
