@use "partial/fonts" as *;
@use "partial/mixins" as *;
@use "./partial/variables" as *;

body {
  font-family: "aveni";
  color: $color-bandsite-black;
  margin: 0;
  @include setBodyFont;
  @include mobile {
    @include setMobileBodyFont;
  }
}
