@use "partial/fonts" as *;
@use "partial/abstracts" as *;

body {
  max-width: $desktop-breakpoint;
  font-family: "aveni";
  color: $color-bandsite-black;
  @include setBodyFont;
  @include mobile {
    @include setMobileBodyFont;
    margin: 0;
  }
}

.header {
  &__page {
    @include setPageHeaderFont;
    @include mobile {
      @include setMobilePageHeaderFont;
    }
  }

  &__section {
    @include setSectionHeaderFont;
    @include mobile {
      @include setMobileSectionHeaderFont;
    }
  }

  &__subHeader {
    @include setSubHeaderFont;
    @include mobile {
      @include setMobileSubHeaderFont;
    }
  }
}

.footer {
  background-color: $color-bandsite-black;
  color: $color-white;
  padding: 1rem;
  @include setFooterFont;
  @include mobile {
    @include setMobileFooterFont;
  }
}
