@use "./partial/assetsLinks" as *;
@use "./partial/abstracts" as *;
@use "./partial/fonts" as *;
@use "./partial/animation" as *;

.hero {
  position: relative;
  text-align: center;
  color: $color-white;
  background-color: $color-bandsite-black;
  height: fit-content;
  &__picture {
    width: 100%;
    max-height: 65vh;
    opacity: 50%;
    object-fit: cover;
    // fix the bug of hero container always slightly higher than img
    display: block;
  }
  &__heading {
    position: absolute;
    top: 35%;
    left: 5%;
    @include add-scale-animation;
  }

  @include mobile {
    @include setFont($font-size-m, $spacing-s, 600);
  }

  @include tablet {
    @include setFont(2.5rem, $spacing-l, 500);
  }

  @include desktop {
    &__heading {
      position: absolute;
      top: 35%;
      left: 10%;
    }
  }
}
