@use "./partial/abstracts" as *;
@use "./partial/fonts" as *;

header {
  background-color: $color-bandsite-black;
}
.nav {
  color: $color-mercury;
  a {
    color: $color-alabaster;
    text-decoration: none;
  }
  &__heading {
    text-transform: uppercase;
  }

  .active {
    border-bottom: solid 4px $color-white;
    color: $color-white;
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
  }
  @include mobile {
    &__heading {
      margin: 0;
      text-align: center;
      padding: 1rem 0;
    }

    &__links {
      text-align: center;
      li {
        padding-bottom: 1rem;
        width: 50%;
      }
    }
  }

  @include tablet {
    height: 5rem;
    display: flex;
    padding-left: $spacing-m;
    &__links {
      align-content: end;
      padding-left: $spacing-xs;
      li {
        @include setFont($font-size-s, $spacing-s, 600);
        padding: $spacing-s $spacing-m;
      }
    }
  }

  @include desktop {
    padding: 0 calc($spacing-2xl * 2);
  }
}
