@use "partial/abstracts" as *;

header {
  background-color: $color-bandsite-black;
}
.nav {
  color: $color-white;

  &__heading {
    text-transform: uppercase;
  }

  .active {
    border-bottom: solid 4px $color-white;
  }
  @include mobile {
    &__heading {
      margin: 0;
      text-align: center;
      padding: 1rem 0;
    }

    &__links {
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
      text-align: center;
      li {
        padding-bottom: 1rem;
        width: 50vw;
      }
    }
  }
}
